/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #020815;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #020815;
    backdrop-filter: blur(8px);
    z-index: 1000;
    border-bottom: 2px solid #02162a;
    box-shadow: 0 2px 6px rgb(0,0,0,0.3);
}

.navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px 5%;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #00aaff;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto;  
}

.nav-links a {
    text-decoration: none;
    color: white;
   /* font-weight: 400; */
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00aaff;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 8%;
    margin-top: 80px;
}

.hero-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.hero-text {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    font-size: 26px;
    margin-bottom: 15px;
}

.hero-text h1 span {
    color: #00aaff;
}

.hero-text h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.6;
}

.hero-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #cbd5e1;
}

/* Responsive */
@media(max-width: 992px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 250px;
        height: 250px;
    }
}

@media(max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 80px;
        right: -100%;
        flex-direction: column;
        background: #04122c;
        width: 200px;
        padding: 20px;
        transition: 0.4s;
    }

    .nav-links.active {
        right: 0;
    }

    .menu-toggle {
        display: block;
    }
}


.about {
    padding: 100px 6% ;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    padding: 100px 8%;
}
.project-title {
    font-size: 28px;
    color: #00aaff;
    margin-bottom: 30px;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.project-card {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #1a2f4f;
    background: rgba(255,255,255,0.02);
    /*transition: 0.3s;*/
}

.projects {
    padding: 2px 5%;
}

.project-card h3 {
    font-size: 20px;
    color: #00aaff;
    margin-bottom: 15px;
}
.project-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #cbd5e1;
}
.project-links a {
    margin-right: 10px;
    color: #00aaff;
    text-decoration: none;
    font-size: 14px;
}

/* Skills */
.skills {
    padding: 80px 8%;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 120px; 
}
.skills h3{
    font-size: 15px;
    color: #cbd5e1;
    margin-bottom: 15px;
}
.skill-line {
    height: 3px;
    background: #00aaff;
    width: 100%;
    margin-top: 15px;  
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .skills-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 40px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: 020815;
    border-top: 2px solid #02162a;
    font-size: 14px;
    color: #cbd5e1;
    margin-top: 60px;
}
